<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a> 
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="google.com">Google</a>
            <a href="lista.html">Listas</a>
            <a href="formulario.html">Formulario</a>

        </nav>
    </header>

    <main>
        <section>
            <div>
                <img src="static/images/messi5.jpg" alt="Imagen de messi el GOAT">
                <h5>Messi pensando como agarrar la tercera</h5>
                <a href="https://www.ole.com.ar/messi/lionel-messi-seleccion-argentina-eliminatorias-sudamericanas_0_VtxXjR7F6n.html" target="_blank">Origen de Imagen</a>
                <a href="static/images/messi5.jpg" download>Descargar Imagen</a>
                <a href="static/PDF/HTML-1.pdf" download>Descargar PDF</a>
                <a href="mailto:lucasturiani13@gmail.com">Enviar correo</a>
            </div>
        </section>
    </main>

    <footer>
        
    </footer>
</body>
</html>