<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a> 
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="google.com">Google</a>
            <a href="lista.html">Listas</a>
            <a href="formulario.html">Formulario</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>Bloque para titulo y texto</h2>
            <div>
                <img src="static/images/messi1.jpg" alt="">
            </div>
        </section>

        <section>
            <mark>Lorem ipsum</mark> <h1>dolor sit amet consectetur adipisicing elit.</h1> <br> <i><strong>Dolore aperiam expedita mollitia?</strong> Iure praesentium repudiandae quo, <b>debitis cupiditate quod magnam dicta delectus velit at nulla optio</b>, <u>nihil, tenetur eos repellendus!</u></i>
        </section>
    </main>

    <footer>
        
    </footer>
</body>
</html>